[color]
ui = auto
[user]
	name = Jonathan Hao
	email = johnathan79717@gmail.com
[filter "media"]
clean = git media clean %f
smudge = git media smudge %f
required = true
[merge]
tool = meld
[core]
excludesfile = ~/.gitignore_global
[push]
	default = simple
[bz]
	username = jhao@mozilla.com
	apikey = 9QaAUtPBtIMLUCNnfRdMkNNxmqqlcV2jqPBQb293
[mozreview]
	nickname = jhao
[pager]
  log = diff-so-fancy | less
  show = diff-so-fancy | less
  diff = diff-so-fancy | less
[stgit]
  pager = diff-so-fancy | less
